<h1>Analytics</h1>

<% if @analytics.count>0 %>
	<div id="analytics_content">
		<input type="button" value="Click to clear all analytics records" id="clear_analytics_table" class="button_red"><br>
		<br>
		<table cellpadding=5 border=1 class="styled_table">
			<tr>
				<th><b>Search query</b></th>
				<th width="1px"><b>Counter</b></th>
				<th width="1px"><b></b></th>
			</tr>
			<% @analytics.each do |data| %>
			<tr id="analytics_row_<%= data.id %>">
			    <td><%= data.search_query %></td>
			    <td><%= data.counter %></td>
			    <td>
			    	<font color="blue">
			    		<span id="analytics_destroy_<%= data.id %>">delete</span>
			    	</font>
			    </td>
			</tr>
			<% end %>
		</table>
	</div>
<% else %>
	No data to show.
<% end %>