<span id="article_template">
	<span id="article_span_<ID>">
		<table class="blue_table" id="article_<ID>">
			<thead>
				<tr>
					<th id="article_description_<ID>" width="100%" valign="top">
						DESCRIPTION PLACEHOLDER
					</th>
					<th class="article_id" valign="top">
						id: <span id="article_id_<ID>"><ID></span>
					</th>
					<th class="article_delete" valign="top">
						<font style="color: #00FFFF;">
							<span id="article_destroy_<ID>">delete</span>
						</font>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="3" id="article_content_<ID>" valign="top">
						CONTENT PLACEHOLDER
					</td>
				</tr>
			</tbody>
		</table>
		<br>
	</span>
</span>