<span id="article_template">
	<span id="article_span_instant_search_<ID>">
		<table class="blue_table" id="article_<ID>">
			<thead>
				<tr>
					<th id="article_description_<ID>" width="100%" valign="top">
						DESCRIPTION PLACEHOLDER
					</th>
					<th class="article_id" valign="top">
						id: <span id="article_id_<ID>"><ID></span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="2" id="article_content_<ID>" valign="top">
						CONTENT PLACEHOLDER						
					</td>
				</tr>
			</tbody>
		</table>
		<span style="display: none;" id="article_full_content_<ID>">
			FULL CONTENT PLACEHOLDER
		</span>
		<br>
	</span>
</span>