<span id="article_template">
	<span id="instant_search_article_span_<ID>">
		<table class="blue_table" id="article_<ID>">
			<thead>
				<tr>
					<th id="article_description_<ID>" width="100%">
						DESCRIPTION PLACEHOLDER
					</th>
					<th class="article_id">
						id: <span id="article_id_<ID>"><ID></span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="2" id="article_content_<ID>">
						CONTENT PLACEHOLDER
					</td>
				</tr>
			</tbody>
		</table>
		<br>
	</span>
</span>