<br>
<center>
	<span style="visibility:hidden;" id="note">
		<font size=2><i>Note: You can still submit a new query by pressing ENTER</i></font>
	</span><br>
	<font class="isearch_title">Instant search <span id="infoIsearch"></span></font><br>
    <input type="button" value="Turn on instant search" class="button_blue" id="btnTurnOn">
    <input type="button" value="Turn off instant search" class="button_blue" id="btnTurnOff">
    <br><br>
	<input type="text" id="searchbox" placeholder="Search..."><br>
	<div id="result" style="visibility:hidden;">PlaceHolder</div><br>
    <a href="analytics/index" target="_blank">
    	<input type="button" value="View analytics" class="button_green">
    </a>
</center>
