<br>
<center>
	<a href="articles/index" target="_blank">
    	<input type="button" value="Create, preview or delete articles" class="button_green">
    </a><br>
	<span style="visibility:hidden;" id="note">
		<font size=2><i>
			Note: You can still submit a new query by pressing ENTER
		</i></font>
	</span><br>
	<font class="instant_search_title">
		Instant search <span id="info_instant_search"></span>
	</font><br>
    <input type="button" value="Turn on instant search" class="button_blue" id="button_turn_on">
    <input type="button" value="Turn off instant search" class="button_blue" id="button_turn_off">
    <br><br>
	<input type="text" id="searchbox" placeholder="Search..."><br>
	<div id="result" style="visibility:hidden;">
		PlaceHolder
	</div><br>
    <a href="analytics/index" target="_blank">
    	<input type="button" value="View analytics" class="button_green">
    </a>
</center>
