// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.blue_table {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blue_table td, table.blue_table th {
  border: 1px solid #AAAAAA;
  padding: 2px 8px;
}
table.blue_table td p, table.blue_table th p {
  display: inline;
}
table.blue_table tbody td {
  font-size: 13px;
}
table.blue_table tr:nth-child(even) {
  background: #D0E4F5;
}
table.blue_table thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
}
table.blue_table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;  
}

.article_id, .article_delete {
  white-space: nowrap;
  width: 1px;
}  
#article_template {
  display: none;
}  

[id^="article_destroy_"] {
  cursor: pointer;
}