// Place all the styles related to the iSearch controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.button_blue {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 5px 9px;
  border: 1px solid #4088b1;
  border-radius: 8px;
  background: #69dfff;
  background: -webkit-gradient(linear, left top, left bottom, from(#69dfff), to(#4088b1));
  background: -moz-linear-gradient(top, #69dfff, #4088b1);
  background: linear-gradient(to bottom, #69dfff, #4088b1);
  text-shadow: #2e617f 1px 1px 1px;
  font: normal normal bold 14px arial;
  color: #ffffff;
  text-decoration: none;
}
.button_blue:hover,
.button_blue:focus {
  border: 1px solid #5bc2fd;
  background: #7effff;
  background: -webkit-gradient(linear, left top, left bottom, from(#7effff), to(#4da3d4));
  background: -moz-linear-gradient(top, #7effff, #4da3d4);
  background: linear-gradient(to bottom, #7effff, #4da3d4);
  color: #ffffff;
  text-decoration: none;
}
.button_blue:active {
  background: #4088b1;
  background: -webkit-gradient(linear, left top, left bottom, from(#4088b1), to(#4088b1));
  background: -moz-linear-gradient(top, #4088b1, #4088b1);
  background: linear-gradient(to bottom, #4088b1, #4088b1);
}

.button_green {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 5px 10px;
  border: 1px solid #258f29;
  border-radius: 8px;
  background: #3ce942;
  background: -webkit-gradient(linear, left top, left bottom, from(#3ce942), to(#258f29));
  background: -moz-linear-gradient(top, #3ce942, #258f29);
  background: linear-gradient(to bottom, #3ce942, #258f29);
  text-shadow: #175a1a 1px 1px 1px;
  font: normal normal bold 14px arial;
  color: #ffffff;
  text-decoration: none;
}
.button_green:hover,
.button_green:focus {
  border: 1px solid #2eb333;
  background: #48ff4f;
  background: -webkit-gradient(linear, left top, left bottom, from(#48ff4f), to(#2cac31));
  background: -moz-linear-gradient(top, #48ff4f, #2cac31);
  background: linear-gradient(to bottom, #48ff4f, #2cac31);
  color: #ffffff;
  text-decoration: none;
}
.button_green:active {
  background: #258f29;
  background: -webkit-gradient(linear, left top, left bottom, from(#258f29), to(#258f29));
  background: -moz-linear-gradient(top, #258f29, #258f29);
  background: linear-gradient(to bottom, #258f29, #258f29);
}

.instant_search_title {
  font-size: 20px;
}

[id^="article_span_instant_search_"] {
  cursor: pointer;
}

[id^="article_span_instant_search_preview_"] {
  cursor: default;
}